@import "../../../index.scss";

.Range {
  margin-bottom: 10px;

  &[disabled] {
    cursor: no-drop;
  }

  @include mobile-lg {
    display: flex;
    align-items: center;
  }

  &_label {
    display: block;
    margin-bottom: 5px;

    @include mobile-lg {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &_input {
    width: 100px;
    &::-webkit-slider-thumb,
    &::-webkit-slider-runnable-track {
      cursor: pointer;
    }

    &::-moz-range-thumb,
    &::-moz-range-track {
      cursor: pointer;
    }

    &::-ms-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper,
    &::-ms-thumb {
      cursor: pointer;
    }
  }
}
