.Item {
  flex-grow: 1;
  background-color: #0c3547;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &[highlighted="true"] {
    background-color: #800080;
  }

  &[sorted="true"] {
    background-color: #1abc9c;
  }

  &:not(:last-child) {
    margin-right: 2px;
  }
}
