@import "../../../index.scss";

.Button {
  border: none;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px;
  background-color: #0c3547;
  color: #fff;
  font-weight: 500;
  cursor: pointer;

  &[disabled] {
    opacity: 0.6;
    cursor: no-drop;
  }

  &[color="red"] {
    background-color: rgb(180, 16, 16);
  }

  &:focus {
    border-color: blue;
    outline: none;
  }

  @include mobile-md {
    padding: 10px 20px;
  }
}
